<!DOCTYPE html>
<html lang="en">

<head>
	<!-- ** Basic Page Needs ** -->
	<meta charset="utf-8">
	<title>My Listings</title>

	<!-- ** Mobile Specific Metas ** -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

	<!-- Page icon -->
	<link href="img/logo-white.png" rel="shortcut icon">

	<!-- Stylesheets -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/progress-bar.css" rel="stylesheet">
	<link href="css/my-listings.css" rel="stylesheet">

	<!-- Nav Bar js-->
	<script src="js/nav-bar.js"></script>

	<script>
		function load() {
			getAllListing();
			getListingByUserID(sessionStorage.getItem('userId'));
		}
	</script>

</head>

<body class="body-wrapper" onload="load()">
	<div id="app">
		<!-- Nav Bar -->
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12" id="navBar">
					</div>
				</div>
			</div>
		</header>

		<div>
			<h3 id="header-title" style="color: black; margin-left: 30px; font-weight: bold;">My Listings</h3>
			<a class="nav-link text-white create-button" id="createListing-btn" href="#"><i
					class="fa fa-plus-circle"></i> Create Listing</a>
		</div>

		<!-- Display Listings -->
		<div class="myListings">
			<section id="listingsZone">
				<div class="wrapper">
					<!--This is the heading showing how many listings there are-->
					<h5 id="summary" style="color: lightslategray; margin-left: 30px; font-weight: 400;"></h5>
					<div id="listingZone" class="row" style="margin-top: 20px;"></div>
				</div>

			</section>
		</div>

		<!-- Create Listing Modal -->
		<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="#">
							<h4 class="modal-title text-center" id="createModalLabel">Create a New Listing!</h4>
							<fieldset class="p-4">
								<!-- Title -->
								<label for="listing-title" class="form-label">Food Listing Title: </label>
								<input id="listing-title" class="form-control mb-3" type="text"
									placeholder="Enter your listing title" required>

								<!-- Description -->
								<label for="listing-desc" class="form-label">Description: </label>
								<textarea id="listing-desc" class="form-control mb-3" style="height: 150px;" type="text"
									placeholder="Enter a item description (e.g. Aglio Olio from Tea Party)"></textarea>

								<!-- User Location -->
								<label for="user-location" class="form-label">Delivery Location: </label>
								<div class="alert alert-danger d-block" role="alert" id="locationAlert" v-if="locationAlert.isVisible">{{ locationAlert.text }}</div>
								<select class="form-select mb-3" id="user-location" @change="clearRestaurant" required>
									<option selected disabled>Select your school</option>
									<option value="SOSS/CIS">College of Integrative Studies (CIS)</option>
									<option value="SOB">Lee Kong Chian School of Business (SOB)</option>
									<option value="SOA">School of Accountancy (SOA)</option>
									<option value="SCIS1">School of Computing & Information Systems (SCIS1)</option>
									<option value="SOE/SCIS2">School of Economics (SOE/SCIS2)</option>
									<option value="SOL">Yong Pung How School of Law (SOL)</option>
								</select>

								<!-- GSR/SR/Classroom/Others -->
								<label for="user-room" class="form-label">GSR/SR/Classroom/Others </label>
								<input id="user-room" class="form-control mb-3" type="text"
									placeholder="e.g. GSR 3-1 / SR 3-6 / Classroom 4-3..." required>

								<!-- Restaurant -->
								<label for="restaurant" class="form-label">Restaurant: </label>
								<div class="input-group mb-3">
									<input id="restaurant" class="form-control" type="text" placeholder="Click Search to find available restaurants" v-model="restaurantName" required disabled>
									<button type="button" class="btn btn-primary font-weight-bold" id="nearbyRestaurant-btn" @click="getNearbyRestaurants">Search</button>
								</div>
								<label id="resAddr" for="restaurantAddress" class="form-label" v-if="showResAddr">Restaurant Address: </label>
								<input id="restaurantAddress" class="form-control mb-3" type="text" v-model="restaurantAddress" disabled v-if="showResAddr">

								<button type="submit" class="btn btn-primary font-weight-bold mt-3" id="submitListing"
									@click="addListing()">Confirm Listing</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Display Nearby Restaurants Modal -->
		<div class="modal fade" id="nearbyRestaurantModal" tabindex="-1" role="dialog"
			aria-labelledby="nearbyRestaurantModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="nearbyRestaurantModalLabel">Nearby Restaurants</h5>
						<button type="button" class="btn-close" data-bs-target="#createModal" data-bs-toggle="modal"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="nearbyRestaurants">
						<div class="d-flex align-items-center justify-content-center" id="loadingDisplay" v-if="loadingDisplay">
							<h4><strong>Loading...</strong></h4>
							<span class="loader"></span>
						</div>											
						<div class="alert alert-danger d-block" role="alert" id="restaurantAlert" v-if="restaurantAlert.isVisible">{{ restaurantAlert.text }}</div>
						<div id="restaurantList" v-if="showRestaurantList">
							<div v-for="(restaurant, index) in restaurants" :key="index" class="row" data-lat="restaurant.lat" data-lng="restaurant.lng" data-bs-target="#createModal" data-bs-toggle="modal" data-bs-dismiss="modal" @click="selectedRestaurant(restaurant)">
								<div class="col-md-3 py-0">
									<img v-if="restaurant.photo !== null" :src="restaurant.photo" class="img-thumbnail w-100 h-auto" id="restaurantImg">
									<img v-else src="/img/restaurantDefault.png" class="img-thumbnail w-100 h-auto" id="restaurantImg">
								</div>
								<div class="col-md-9">
									<h5><b>{{ restaurant.name }}</b></h5>
									<p><b>Address:</b> <span>{{ restaurant.address }}</span></p>
									<p v-if="restaurant.rating !== 'No rating available'">
										<b>Rating:</b> {{ restaurant.rating }}
										<i class="fa-solid fa-star" style="color: #ffeb14;"></i>
									</p>
									<p v-else>
										<b>Rating:</b> {{ restaurant.rating }}
									</p>
								</div>
								<hr class="mt-3">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-target="#createModal"
							data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<!-- Axios -->
	<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
	<!-- Vue 3 -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<!-- Bundled Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>

	<script src="./js/listing.js"></script>
	<script src="./js/app.js"></script>

	<script>

		// Open create listing modal on click

		var createListingBtn = document.getElementById('createListing-btn');
		if (createListingBtn) {
			document.getElementById('createListing-btn').addEventListener('click', function () {
				document.getElementById('submitListing').disabled = false;
				var myModal = new bootstrap.Modal(document.getElementById('createModal'));
				myModal.show();
				var submitBtn = document.getElementById('submitListing');
				if (submitBtn) {
					document.getElementById('submitListing').addEventListener('click', function (e) {
						e.preventDefault();
						addListing();
					});
				}
			});
		}
		var cancelButton = document.getElementById('cancelButton');
		if (cancelButton) {
			cancelButton.addEventListener('click', async function (event) {
				e.preventDefault();
				await cancelListing();
			});
		}

		var deleteButton = document.getElementById('deleteButton');
		if (deleteButton) {
			deleteButton.addEventListener('click', async function (event) {
				e.preventDefault();
				await deleteListing();
			});
		}

	</script>

</body>

</html>