<!DOCTYPE html>
<html lang="en">

<head>
	<!-- ** Basic Page Needs ** -->
	<meta charset="utf-8">
	<title>Rewards</title>

	<!-- ** Mobile Specific Metas ** -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

	<!-- Page icon -->
	<link href="img/logo-white.png" rel="shortcut icon">

	<!-- Stylesheets -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
    <link href="css/rewards.css" rel="stylesheet">

	<!-- Nav Bar js-->
	<script src="js/nav-bar.js"></script>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="body-wrapper">
	<!-- Nav Bar -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="navBar">				
				</div>
			</div>
		</div>
	</header>

    <div><h3 id="header-title">Redeem Rewards</h3></div>

    <!-- Display rewards -->
    <div id="rewardsApp">
        <div class="rewards-container row">
            <div class="col-md-4" v-for="reward in rewards" @click="openModal(reward)">
                <div class="card">
                    <img :src="reward.img" class="card-img-top" alt="Reward Image">
                    <div class="card-body">
                    <h5 class="card-title text-muted">{{ reward.name }}</h5>   
                    <h6 class="card-subtitle mb-2 text-muted">Points Required: {{ reward.pointsReq }}</h6>
                </div>
            </div>
        </div>
    
        <div id="myModal" v-if="showModal">
            <!-- Modal content here -->
            <div class="modal-content" style="width: 60%; margin: auto;">
                <div class="modal-header">
                    <h2 id="modal-title">{{ selectedReward.name }}</h2>
                    <span id="closeModal" style="cursor:pointer;" @click="closeModal">&times;</span>
                </div>
                <img id="modal-img" :src="selectedReward.img" alt="Reward image">
                <p class="text-primary" id="modal-pointsReq">Points Required: {{ selectedReward.pointsReq }}</p>
                <p id="modal-userPoints">Your Points: {{ userPoints }}</p>
                <progress id="modal-progress" :value="progress" max="100"></progress>
                <button id="redeem-btn" class="btn btn-success" @click="updateUserPoints(selectedReward)"  :disabled="userPoints < selectedReward.pointsReq">Redeem Reward</button>
            </div>
    </div>
    
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="./js/app.js"></script>
    <script src="./js/rewards.js"></script>
    <script src="./js/user-profile.js"></script>

</body>
</html>